*{
    margin: 0px;
}

html, body {
    height: 100%;
}

.gridcontainer{
    display: grid;
    grid-template-columns: 3fr 12fr 2fr; 
    grid-template-rows: 2fr 20fr 1fr;
    /* donner des noms de zones pour les différents éléments html*/
    grid-template-areas: 
    "a a b" /*ligne 1 :  col1 => zone a ; col2 => zone a ; col 3 => zone b*/
    "c d d" /*ligne 2 :  col1 => zone c ; col2 => zone d ; col 3 => zone d*/
    "c e e";
    gap: 5px;
    /* row-gap: 5px;
    column-gap: 5px; */
}

.element {
    background-color: #BBCCFF ;
    padding-top: 5px;
}

.element > h2 {
    font-weight: bold;
    font-size: 2em;
    margin-left: 15px;
    margin-top: 5px;
}

header{
    /* grid-row: 1;
    grid-column: 1/3; */
    grid-area: a; /* affecter l'élément header à la zone a de la grille*/
}

aside {
    grid-area: b; /* affecter l'élément aside à la zone b de la grille*/
    /* grid-row: 1;
    grid-column: 3 / 4; */
}

nav{
    grid-area: c;
    /* grid-column: 1;
    grid-row: 2/4 ; grid-row: 2/ span 2 grid-row: -1 /-3 */
}

.articlescontainer{
    /* positionnement avec lignes et colonnes de la grille*/
    /* grid-column: 2/span 2;
    grid-row: 2; */
    grid-area: d; /* affecter l'élément de classe articlecontainer à la zone d de la grille*/
    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr 20px;
    grid-template-columns: auto 5fr 5fr 20px;
    grid-template-areas: 
    ". . . ." 
    ". a b ."
    ". c d ."
    ". e f ."
    ". . . .";
    gap: 10px 
}
.articlescontainer > * {
    margin: 10px;
}

section{
    background-color: white;
    border-radius: 10px;

}
.section1{
    grid-area: a;

}
.section2{
    grid-area: b;

}
.section3{
    grid-area: c;
}

.section4{
    grid-area: d;
}

.section5{
    grid-area: e;
}

.section6{
    grid-area: f;
}

footer {
    grid-area: e;
    /* grid-column: 2 / 4;
    grid-row: 3 / 4; */
}

@media screen and (max-width: 500px) {
    .gridcontainer{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "a "
        "b" 
        "c"
        "d"
        "e";    
    }

    .articlescontainer{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr repeat(6, 3fr);
        grid-template-areas:
        "." 
        "a" 
        "b"
        "c"
        "d"
        "e"
        "f";        
    }
}
