:root{
    --blue_color: #BBCCFF;
}

body {
    margin: 1%;
    height: 95vh;
    display: grid;
    grid-template-columns: 2fr 6fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "topleft topleft topright"
    "bottomleft middle middle"
    "bottomleft bottomeright bottomeright";
    gap: 5px;
    font-size: 10px;
}

header {
    grid-area: topleft;
}

h1, h2 {
    margin-left: 5px;
    font-weight: bold;
    font-size: 10px;
}
.ads {
    grid-area: topright;
}

nav {
    grid-area: bottomleft;
    font-size: 10px;
}

article {
    grid-area: middle;
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 20px;
    grid-template-rows: 60px auto auto auto 20px;
    grid-template-areas:
    ". . . ."
    ". sec1 sec2 ."
    ". sec3 sec4 ."
    ". sec5 sec6 ."
    ". . . .";
    gap: 3px;
    overflow-y: scroll;
} 

article > section {
    background-color: white;
}

footer {
    grid-area: bottomeright;
    font-size: smaller;
    font-weight: bold;
}

header, .ads, nav, article, footer {
    background-color: var(--blue_color);
}

section p {
    font-size: smaller;
}

.section1 {
    grid-area: sec1;
}
.section2 {
    grid-area: sec2;
}
.section3 {
    grid-area: sec3;
}
.section4 {
    grid-area: sec4;
}
.section5 {
    grid-area: sec5;
}
.section6 {
    grid-area: sec6;
}

@media screen and (max-width: 768px) {
    :root{
        --blue_color: #CCFFBB;
    }

    body {
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr 5fr 1fr ;
        grid-template-areas: 
        "topleft"
        "topright"
        "bottomleft"
        "middle"
        "bottomeright";
    }
    article > h2{
        grid-area: titre;
    }
    article {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(7, auto);
        grid-template-areas: 
        "titre"
        "sec1"
        "sec2"
        "sec3"
        "sec4"
        "sec5"
        "sec6";
        gap: 3px;
    } 
}