body{
    margin: 0;
}
.bg{
    background-image: url("ressources/Mina.jfif");
    background-position: center;
    background-size: cover;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    opacity: 0.5;
}

.content {
    position: absolute;
    left: 50%; 
    margin-top: 5rem;
    transform: translateX(-50%);
    width: 80%;
}
nav ul li {
    display: inline;
}